* {
    transition: all 0.2s ease-in;
}

.entry {
    border: 1px solid rgba(165, 165, 165, 0.281);
    cursor: pointer;
}

.entry:hover {
    transform: scale(1.03);
}

.link-text {
    color: dodgerblue;
}

.link-text:hover {
    color: blue;
    cursor: pointer;
}

.crate-office {
    transform-origin: center;
    font-size: 4rem;
    cursor: pointer;
}

.crate-office:hover {
    transform: scale(1.1);
}
