<form>
    <h1 *ngIf="!isEdit">Create New Company</h1>
    <h1 *ngIf="isEdit">Edit Company</h1>

    <div class="form-outline mb-4" *ngIf="isEdit">
        <input readonly type="email" class="form-control" name="name" [(ngModel)]="data.name" />
        <label class="form-label" for="form2Example1">Name</label>
    </div>

    <div class="form-outline mb-4" *ngIf="!isEdit">
        <input #named type="email" class="form-control" name="name" [(ngModel)]="data.name" />
        <label class="form-label" for="form2Example1">Name</label>
    </div>

    <div class="form-outline mb-4">
        <input #cityd type="text" class="form-control" name="city" [(ngModel)]="data.city" />
        <label class="form-label" for="form2Example2">City</label>
    </div>

    <div class="form-outline mb-4">
        <input #addressd type="text" class="form-control" name="address" [(ngModel)]="data.centralOfficeAddress" />
        <label class="form-label" for="form2Example2">Address</label>
    </div>

    <div class="form-outline mb-4">
        <input #countryd type="text" class="form-control" name="country" [(ngModel)]="data.country" />
        <label class="form-label" for="form2Example2">Country</label>
    </div>

    <div class="row" *ngIf="isEdit">
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="updateCompany()">Save</button>
    </div>

    <div class="row" *ngIf="!isEdit">
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="create()">Save</button>
    </div>

    <div class="row">
        <button type="button" class="btn btn-warning btn-block mb-4" (click)="cancel()">Cancel</button>
    </div>

    <div class="row" *ngIf="isEdit">
        <button type="button" class="btn btn-danger btn-block mb-4" (click)="delete()">Delete</button>
    </div>


</form>