<form>
    <h1 *ngIf="isEdit">Edit Office</h1>
    <h1 *ngIf="!isEdit">Create New Office</h1>

    <div class="form-outline mb-4" *ngIf="isEdit">
        <input readonly name="officeName" type="email" class="form-control" [(ngModel)]="data.officeName" />
        <label class="form-label" for="form2Example1">Name</label>
    </div>

    <div class="form-outline mb-4" *ngIf="!isEdit">
        <input type="email" name="officeName" class="form-control" [(ngModel)]="data.officeName" />
        <label class="form-label" for="form2Example1">Name</label>
    </div>

    <div class="form-outline mb-4">
        <input type="text" name="city" class="form-control" [(ngModel)]="data.city" />
        <label class="form-label" for="form2Example2">City</label>
    </div>

    <div class="form-outline mb-4">
        <input type="text" name="address" class="form-control" [(ngModel)]="data.address" />
        <label class="form-label" for="form2Example2">Address</label>
    </div>

    <div *ngIf="companies" class="form-outline mb-4">
        <select class="form-select" aria-label="Default select example" name="company" [(ngModel)]="data.logisticCompanyId">
            <option *ngFor="let company of companies" [value]="company.id">{{company.name}}</option>
        </select>
    </div>

    <div class="row" *ngIf="isEdit">
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="update()">Save</button>
    </div>

    <div class="row" *ngIf="!isEdit">
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="create()">Create</button>
    </div>

    <div class="row">
        <button type="button" class="btn btn-warning btn-block mb-4" (click)="cancel()">Cancel</button>
    </div>

    <div class="row" *ngIf="isEdit">
        <button type="button" class="btn btn-danger btn-block mb-4" (click)="delete()">Delete</button>
    </div>


</form>